@media only screen and (max-width: 600px) {
  .container {
    width: 555px;
    margin-left: 200px;
    margin-right: 0px;
  }

  h1.title {
    text-align: center;
    font-size: 55px;
  }

  footer {
    margin-right: -100%;
    margin-left: 0%;
  }

  .wrapper {
    width: 700px;
    margin-left: 0%;
  }

  .form-signin-heading {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 75px;
    font-size: 70px;
  }

  input.form-control {
    display: block;
    width: 630px;
    height: 125px;
    padding: 12px 25px;
    font-size: 45px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  form.form-horizontal {
    margin-left: 40px;
    width: 700px;
    margin-right: 40px;
  }

  div.control-label {
    font-size: 65px;
  }

  div.edit-delete-actions {
    margin-top: -15%;
  }

  .btn-lg {
    font-size: 65px;
    padding: 25px;
    margin-top: 10%;
    margin-left: -2%;
  }
