body {
  background-color: #fff;
}

div#welcome-page {
  margin-top: 15%;
  text-align: center;
}

.in-the-middle, .of-all-of-it {
  font-size: 90px;
}

span {
  letter-spacing: -18px;
}

.in-the-middle {
  float: left;
  margin-left: 9%;
  margin-right: 9%;
}

.of-all-of-it {
  float: left;
  margin-left: -7%;
  margin-right: -7%;
  margin-bottom: 20px;
}

span.n, .e, .f {
  letter-spacing: 10px; 
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: 1s;
  color: #0a5290;
  text-decoration: underline;
}

.posts {
  font-size: 45px;
  margin-top: 10%;
  margin-right: 7%;
}

.non-signed-in-posts {
  margin-right: 17%;
  margin-left: 17%;
}

.life-stuff, .code-stuff {
  float: right;
  margin-right: 100px;
  margin-left: 100px;
}

a.life-stuff {
  margin-left: 18.5%;
  margin-right: 18.5%;
  padding-right: 10px;
  padding-left: 10px;
}

a.code-stuff {
  padding-right: 30px;
  padding-left: 30px;
}

.admin-life-stuff, .admin-code-stuff {
  padding: 15px;
}

.admin-life-stuff, .admin-code-stuff {
  padding: 15px;
}

footer {
  width: 500px;
  margin-left: 450px;
  margin-right: 450px;
}
