html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

header {
  margin-top: 5%;
}

body {
  font-family: 'Cabin Sketch', cursive;
  background-color: #fff;
  background: url("/img/the_middle.jpg") no-repeat;
  background-size: cover;
}

div#welcome-page {
  position: fixed;
}

#welcome-page div {
  display: inline;
  width: 100%;
  margin: 0 auto;
}

.in-the-middle, .of-all-of-it {
  font-size: 90px;
}

span {
  letter-spacing: -18px;
}

span.n, .e, .f {
  letter-spacing: 10px; 
}

a {
  text-decoration: underline;
  color: #222;
}

a:hover {
  color: #222;
}

.posts {
  text-align: center;
  font-size: 45px;
  margin-top: 5%;
}

.non-signed-in-posts {
  margin: 0 auto;
}

.life-stuff, .code-stuff {
  margin: 10%;
}

/*############################## */
/*###### Mobile Friendly ######### */
/*############################## */

/* iPhone 6 */
@media only screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  .in-the-middle, .of-all-of-it {
    text-align: left;
    font-size: 50px;
  }

  span {
    letter-spacing: -12px;
  }

  #welcome-page > div.of-all-of-it {
    position: fixed;
    display: block;
    margin-left: 25px;
  }

  .life-stuff, .code-stuff {
    margin: 5%;
  }

  a.life-stuff {
    float: left;
  }

  a.code-stuff {
    float: right;
  }

  .posts {
    margin-top: 25%;
  }

  .non-signed-in-posts {
    margin-right: 10%;
    margin-left: 10%;
  }
}

/* iPhone 6 + */
@media only screen and (max-width: 414px)
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
  div#welcome-page {
    margin-left: 5%;
    margin-right: 5%;
  }

  .in-the-middle, .of-all-of-it {
    text-align: left;
    font-size: 50px;
  }

  span {
    letter-spacing: -12px;
  }

  #welcome-page > div.of-all-of-it {
    position: fixed;
    display: block;
    margin-left: 25px;
  }

  .posts {
    margin-top: 25%;
  }

  .life-stuff, .code-stuff {
    padding: 0px;
  }
}

/* Galaxy S5 */
@media screen
  and (min-device-width: 320px)
  and (max-device-height: 640px)
  and (-webkit-min-device-pixel-ratio: 3) {

    div#welcome-page {
      margin-left: 3.5%;
      margin-right: 3.5%;
    }

    .in-the-middle, .of-all-of-it {
      text-align: left;
      font-size: 45px;
    }
}

/* Nexus 5x and 6p */
@media screen 
  and (min-device-width: 412px)
  and (max-device-width: 732px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    div#welcome-page {
      margin-left: 4%;
      margin-right: 4%;
    }
}

/* iPad 3*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    div#welcome-page {
      margin-left: 1%;
      margin-right: 1%;
    }

    .in-the-middle, .of-all-of-it {
      text-align: left;
      font-size: 50px;
    }

    span {
      letter-spacing: -12px;
    }
}

/* iPad Pro */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    div#welcome-page {
      margin-left: 2%;
      margin-right: 2%;
    }

    .in-the-middle, .of-all-of-it {
      text-align: left;
      font-size: 65px;
    }

    .posts {
      font-size: 55px;  
    }
}
