body {
  background-color: #fff;
}

div#welcome-page {
  margin-top: 15%;
  text-align: center;
}

.in-the-middle, .of-all-of-it {
  font-size: 90px;
}

span {
  letter-spacing: -18px;
}

.in-the-middle {
  float: left;
  margin-left: 11.5%;
  margin-right: 11.5%;
}

.of-all-of-it {
  float: left;
  margin-left: -9%;
  margin-right: -9%;
  margin-bottom: 20px;
}

span.n, .e, .f {
  letter-spacing: 10px; 
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: 1s;
  background-color: black;
  color: #4968DB;
}

.posts {
  font-size: 45px;
  margin-top: 10%;
  margin-right: 7%;
}

.non-signed-in-posts {
  margin-right: 17%;
  margin-left: 17%;
}

.life-stuff, .code-stuff {
  float: right;
  margin-right: 150px;
  margin-left: 150px;
  text-decoration: underline;
}

a.life-stuff {
  margin-left: 18%;
  margin-right: 18%;
}

.admin-life-stuff, .admin-code-stuff {
  padding: 15px;
}

.admin-life-stuff, .admin-code-stuff {
  padding: 15px;
}

footer {
  text-align: center;
  padding-top: 100px;
}
