<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 text-center">
      <footer role="contentinfo">
        <p>
          <small>
            <a href="https://kylestengline.com/" target="_blank">
              Copyright &copy; Kyle Stengline
            </a>
          </small>
        </p>
      </footer>
    </div>
  </div>
</div>
