<footer role="contentinfo">
  <p>
    <small>
      <a href="https://kylestengline.com/" class="footer-copyright" target="_blank">
        Copyright &copy; 2017 Kyle Stengline
      </a>
    </small>
  </p>
</footer>
