<header role="banner">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sample-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Home", root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if signed_in? %>
            <%= render 'shared/admin_nav' %>
          <% else %>
            <div class="navbar-right">
              <li><%= link_to "View Code Posts", codes_path, class: "navbar-brand" %></li>
              <li><%= link_to "View Life Posts", lives_path, class: "navbar-brand" %></li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
