<div class="flash-message">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>
  <div class="the-sidebar">
    <%= yield :sidebar %>
  </div>
</div>
