<div id="all-the-posts">
  <div class="code-posts">
    <% @codes.each do |c| %>
      <div class="created-at">
        <%= c.created_at.to_date %>
      </div>
      <div class="title">
        <%= link_to c.title, code_path(c) %>
      </div>
      <div class="content">
        <%= truncate c.content, length: 300 { link_to "keep reading", code_path(c) } %>
      </div>
    <% end %>
  </div>
</div>
