<div class="container">
  <article>
    <div id="show-page-posts">
      <div class="showing-posts">
        <div class="title">
          <h1 class="post-title">
            <%= @code.title %>
          </h1>
        </div>
        <div class="created-at">
          <%= @code.created_at.strftime("%B %d, %Y") %>
        </div>
        <div class="content">
          <%= markdown(@code.content) %>
        </div>
      </div>
    </div>
  </article>
    <%= link_to "Back to Code Posts", codes_path, class: "back-to-code" %>
</div>
