<div id="all-the-posts">
  <div class="life-posts">
    <% @life.each do |l| %>
      <div class="created-at">
        <%= l.created_at.to_date %>
      </div>
      <div class="title">
        <%=link_to l.title, life_path(l.id) %>
      </div>
      <div class="content">
        <%= l.content %>
      </div>
    <% end %>
  </div>
</div>
