<div class="container">
  <article>
    <div id="show-page-posts">
      <div class="showing-posts">
        <div class="title">
          <h1 class="post-title">
            <%= @life.title %>
          </h1>
        </div>
        <div class="created-at">
          <%= @life.created_at.strftime("%B %d, %Y") %>
        </div>
        <div class="content">
          <%= markdown(@life.content) %>
        </div>
      </div>
    </div>
  </article>
  <%= link_to "Back to Life Posts", lives_path, class: "back-to-life" %>
</div>
