<article>
  <div class="container">
    <div id="all-the-posts">
      <div class="code-posts">
        <% @codes.each do |c| %>
          <div class="title">
            <h1 class="post-title">
              <%= link_to c.title, user_code_path(c), class: "post-title-link" %>
            </h1>
          </div>
          <div class="created-at">
            <%= c.created_at.strftime("%B %d, %Y") %>
          </div>
          <div class="content">
            <%= markdown(truncate c.content, length: 1000) %>
          </div>
        <% end %>
      </div>
    </div>
    <%= will_paginate @codes %>
  </div>
</article>
